.on-background {
  background-color: #fef9f1;
}

.off-background {
  background-color: #111;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bulb {
  background-color: #faea84;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 3px 40px 6px rgba(249, 255, 8, 0.56);
}

.off-bulb {
  background-color: #252525;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
