.container {
  max-width: 900px;
  margin: auto;
}

.row {
  display: flex;
}

.col-full {
  width: 100%;
}

a {
  text-decoration: none;
}

.light-gray-background {
  background-color: #fafafa;
}

.dark-gray-background {
  background-color: #525351;
}

.gray-text {
  color: #888;
}

.col-one-half {
  width: 50%;
}

.padding-50 {
  padding: 50px;
}

.col-one-third {
  flex-basis: calc(100% / 3);
}

.margin-left-30 {
  margin-left: 30px;
}

.align-center {
  display: flex;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.blue-button {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #294464;
  color: white;
}

.contact-button {
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  background-color: #294464;
  color: white;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-20 {
  margin-top: 20px;
}

.line-height {
  line-height: 20px;
}

.color-white {
  color: white;
}

.inline-block {
  display: inline-block;
}

.col-one-fourth {
  flex-basis: calc(100% / 4);
}

.reduction-30 {
  width: 30%;
}

.reduction-15 {
  width: 15%;
}

.reduction-70 {
  width: 60%;
  font-size: 13px;
}

.reduction-100 {
  width: 100%;
  position: relative;
  filter: brightness(81%);
}

.justify-center {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.less-padding {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
}

header {
  border-bottom: 2px solid #e9ebee;
}

.border-bottom {
  border-bottom: 2px solid #e9ebee;
}

li {
  display: inline-block;
  padding: 0 9px;
}

.margin-right {
  margin-right: auto;
}

.position-relative {
  position: relative;
}

h1 {
  position: absolute;
  color: white;
  top: 7rem;
  left: 6rem;
}

.hero-text {
  position: absolute;
  font-size: 12px;
  top: 12rem;
  left: 6rem;
  color: white;
}

.blue-button-hero {
  position: absolute;
  left: 6rem;
  top: 23rem;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #294464;
  color: white;
}

.font-class {
  font-family: 'Tiempos Headline', sans-serif;
  font-weight: 300;
}

.font-size-12 {
  font-size: 12px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}
